
header{
    max-width: 1600px;
    background: url("../images/banner/banner3.png");
    padding-top: 216px;
    padding-left: 880px;
    padding-right: 230px;
    padding-bottom: 166px;
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.hp2{
    font-size: 16px;
    line-height: 26px;
     color: #FFFFFF;
     margin-bottom: 32px;

}
.hp1{
    font-size: 65px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
}
.hd1{
    
    max-width: 525px;
    text-align: right;
}
.fdiv{
    
    max-width: 1165px;
}
.faltu p{
    font-size: 40px;
    font-weight: bold;
}
.faltu{
    max-width: 288px;
    margin-bottom: 24px;
}
.c1{
    padding-top: 131px;
    padding-left: 206px;
    padding-right: 229px;
}
.writen{
    margin-top: 229px;
    margin-bottom: 84.3px;
    max-width: 416px;
    
}
.c1d1{
    display: flex;
    gap: 87px;
    margin-bottom: 129.7px;
}
.p1{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
   
}
.re{
    font-size: 16px;
    color: #444343;

    margin-bottom: 8px;
}
.im1 img{
    max-width: 569px;
}

.myplan{
    margin-left: 400px;
    font-size:28px ;
    font-weight: bold;
   
   
   
    
}
.plans{
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
}

.container{
    max-width: 1141px;
    margin: 0 auto;
}

.plans-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan img{
    margin-bottom: 24px;
    max-width: 90px;
}

.plan h3{
    font-size: 30px;
    margin-bottom: 16px;
    font-weight: bold;
    
}

.plan p{
    color: #737272;
    font-size: 25px;
    font-weight: medium;
}
.watch{
    padding-top: 124px;
    padding-left: 0;
    padding-right: 0;
}
.fullwatchdiv{
    max-width: 1140px;
    margin: 0 auto;
    
   background: 
        linear-gradient(90deg, rgba(241, 91, 34, 0.9) 0%, rgba(241, 91, 34, 0.0) 100%),
        url("../images/watch.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 59px;
    padding: 59px;
    padding-right: 617px;
    padding-left: 64px;
    
}
.fwd1{
    max-width: 459px;
   
    
    
}
.fwd1 p{
    font-size: 40px;
    font-weight: bold;
    color:white;
    margin-bottom: 24px;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    padding: 20px 36px;
    border: none;
    border-radius: 5px;

}





   



